{% extends 'base.html' %}
{% block title %}Register page{% endblock title %}

{% block body %}

<div class="container">
	
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card login-content shadow-lg border-0">
				<div class="card-body"> 
					
					<div class="container m-3">
						{% if messages %}
						{% for message in messages %}
						<div class="alert alert-danger">
							{{ message }}
						</div>
						{% endfor %}
						{% endif %}
					</div>
 
					<div class="text-center">
						<img class="logo"
							src="https://cdn3.iconfinder.com/data/icons/galaxy-open-line-gradient-i/200/account-256.png">
					</div>
					<h3 class="text-logo">Register</h3>
					<br>
					<form class="text-center" method='post'>
						{% csrf_token %}
						<input class="form-control border-0" type="text" name="username"
							placeholder="Type Your Username">
						<br>
						<input class="form-control border-0" type="email" name="email" placeholder="Type Your Email">
						<br>
						<input class="form-control border-0" type="password" name="password"
							placeholder="Type Your Password">
						<br>
						<button class="btn btn-primary btn-sm border-0" type="submit" name="submit">Sign In</button>						
					</form>
				</div>
				<div class="nomember">
					<p class="text-center">Already a member? <a href="login">Login</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}